<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <div class="panel-heading">
                <ul class="breadcrumb">
                    <li class="active">New Order</li>
                </ul>
            </div>

            <div class="panel-body">
                        <form class="form-horizontal" name="form" ng-submit="save()" role="form">
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Customer Name</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" ng-model="order.customer_name" placeholder=" " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Customer Contact</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <input type="tel" class="form-control" ng-model="order.customer_contact" placeholder=" " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">CustomerE-mail</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <input type="email" class="form-control" ng-model="order.customer_email" placeholder=" " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Address Details</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" placeholder=" " ng-model="order.address_detail" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Turf Variety</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <select class="form-control" ng-model="order.turf_varity" ng-options="turfVariety.turf_type for turfVariety in turf" ng-required="true"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Turf Quantity</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <input type="number" class="form-control" ng-model="order.turf_quanutity" placeholder=" " required>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Total Price</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <input type="number" class="form-control" ng-model="order.total_price" value="{{order.turf_quanutity*order.turf_varity.turf_price}}" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group" ng-controller="DatePickerPopupCtrl">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label"> Expect Delivery Date</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="order.delivery_date_time"
                                               is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                               alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Cutter</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <select class="form-control" ng-model="order.cutter" ng-options="cutter.cutter_name as cutter.cutter_name for cutter in cutters"  ng-required="true"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Driver</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <select class="form-control" ng-model="order.driver" ng-options="driver.driver_name as driver.driver_name for driver in drivers"  ng-required="true"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 control-label">Layer</label>
                                <div class="col-lg-6 col-md-7 col-sm-8">
                                    <select class="form-control" ng-model="order.layer" ng-options="layer.layer_name as layer.layer_name for layer in layers"  ng-required="true"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-lg-10 col-md-9 col-sm-9">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" ng-click="" class="btn btn-default">Save as Draft</button>
                                    <button type="button" ng-click="" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>

        </section>
        <!-- page end-->
    </section>
</section>